.modal-details-container{
    /* display: flex;
    flex-direction: column;
    position: absolute; */
    /* border-radius: 80px; */
    /* height: 280px; */
}

.MuiDialogTitle-root{
    padding-bottom: 0 !important;
    padding-left: 1.5rem !important;
}

.MuiPaper-root{
    border-radius: 60px !important;
    /* width: 40% !important; */
    text-align: center
}

.MuiDialog-paper {
    margin: 0px !important;
    position: relative;
    overflow-y: auto;
}

.MuiDialog-paperWidthSm {
    max-width: none !important;
}

.item-class{
    width: 100%;
    margin-bottom: 5px;
}

h2{
    font-size: 1.4rem;
    text-decoration-line: underline;
}

p{
    font-weight: 600;
    text-decoration-line: underline;
    font-size: 1rem
}