.floating-button-container{
    position: absolute;
    bottom: 10%;
    right: 12px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255);
    border-radius: 60px;
}